/* Resetujemy domyślne style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ustawienie responsywności dla małych ekranów */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f4f6;
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 24px;
  text-align: center;
  margin: 0px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid #4CAF50; /* Grubość i kolor linii */
}

input[type="button"] {
  color: black;
  background-color: #e7eddc;
}

.container {
  width: 90vw; /* 90% szerokości ekranu */
  max-width: 400px; /* Maksymalna szerokość kontenera */
  height: 100vh; /* Maksymalna szerokość kontenera */
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow-y: auto;
}

.header {
    position: relative;
    text-align: center;
    padding: 10px; /* Opcjonalne: Dodanie odstępu wewnętrznego */
    padding-bottom: 0px;
    border-bottom: 2px solid #4CAF50; /* Grubość i kolor linii */
}

.language-select {
    position: absolute; /* Pozycjonowanie absolutne dla select */
    top: -10px; /* Odległość od góry */
    right: 0px; /* Odległość od prawej */
    z-index: 2; /* Wyższy niż tytuł */
    padding: 5px;
    border-radius: 5px; /* Opcjonalnie zaokrąglenie */
}

.title {
    position: relative; /* Wyśrodkowany tytuł */
    z-index: 1; /* Wyższy indeks, jeśli ma być nad select */
    text-align: center; /* Tytuł jest wyśrodkowany */
    border: none;
    padding-top: 14px;
}

#SeriesContainer {
  height: 365px;  /* Wysokość kontenera */
  overflow-y: auto;  /* Włącz pionowe przewijanie */
}

.serie {
  /*border: 2px solid blue; /* Grubość i kolor linii */
  border-radius: 5px; /* Opcjonalnie zaokrąglenie */
}


input {
  width: 70%; /* Szerokość 70% kontenera */
  padding: 12px;
  margin: 8px 0; /* Marginesy między polami */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input:disabled {
  width: 42%;
  background-color: #ACE1AF; /* Zielony kolor tła */
  color: #040; /* Ciemnozielony kolor tekstu */
  border: 1px solid #ccc; /* Delikatna ramka */
  cursor: not-allowed; /* Ikona zakazu */
  font-weight: bold;
}

button {
  width: 70%;
  padding: 12px;
  margin-top: 10px;
  background-color: #e7eddc;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #80c296;
}

.inputButton {
  width: 12%;
  border: 1px solid #ccc;
  color: black;
  background-color: #e7eddc;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.copyrights {
  font-family: Arial, sans-serif;
  font-size: 10px;
  text-align: center;
  margin: 20px 0;
  padding-top: 10px;
  padding-bottom: 0px;
  border-top: 1px solid #4CAF50; /* Grubość i kolor linii */
}
.version {
  font-family: Arial, sans-serif;
  font-size: 8px;
  text-align: center;
  margin: 0px 0;
}